html {
  padding-top: 50px;
  padding-right: 300px;
  padding-bottom: 50px;
  padding-left: 250px;

}

h1 {
  text-align: center;
  padding-right: 80px;
  padding-left: 80px
}

header {

  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

article {
  border: 1px solid;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
}

.names {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

}

.reason {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

a:hover {
  color: blue;
}